<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/register.css" />
</head>
<body>
<p th:if="${param.error}" class="error">Registration failed</p>
<form th:action="@{/register}" method="post" th:object="${user}">
    <label for="email">Email</label>
    <input type="text" id="email" th:field="*{email}" />
    <label for="password">Password</label>
    <input type="password" id="password" th:field="*{password}" />
    <label for="first_name">First Name</label>
    <input type="text" id="first_name" th:field="*{firstName}" />
    <label for="last_name">Last Name</label>
    <input type="text" id="last_name" th:field="*{lastName}" />

    <label for="gender">Пол</label>
    <select id="gender" th:field="*{gender}" class="dropdown">
        <option value="Male">Мужской</option>
        <option value="Female">Женский</option>
    </select>

    <label for="country">Страна</label>
    <select id="country" th:field="*{country}" class="dropdown">
        <option value="USA">США</option>
        <option value="Canada">Канада</option>
        <option value="Moldova">Молдова</option>
        <option value="Russia">Россия</option>
    </select>

    <label for="date_of_birth">Дата рождения</label>
    <input type="date" id="date_of_birth" th:field="*{dateOfBirth}" /> <br />

    <input type="submit" value="Зарегистрироваться" />
    <div style="text-align: center;">
        <a href="/login">Назад</a>
    </div>
</form>
</body>
</html>